name: "Desplegar los cambios automaticamente"

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: clonar_repositorio
      uses: actions/checkout@v4
